@use "sass:math";
// @use './breakpoints';

$columns: 12; // Set the total number of columns
$breakpoints: (
  xs: 0,
  // Extra small devices (mobile phones)
  sm: 576px,
  // Small devices (tablets)
  md: 768px,
  // Medium devices (small laptops)
  lg: 992px,
  // Large devices (desktops)
  xl: 1200px // Extra-large devices,
);

@mixin grid($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @for $i from 1 through $columns {
      .col-#{$i}-#{$size} {
        width: percentage($i / $columns);
      }
    }
  }
}

.container {
  display: flex;
  flex-wrap: wrap;

  @include respond-to(small) {
    margin-top: 80px;
    z-index: 30;
    max-width: 35%;
  }
}

@include grid(xs); // Apply grid to all screen sizes
@include grid(sm);
@include grid(md);
@include grid(lg);
@include grid(xl);

// Utility classes
.display-f {
  display: flex;
}
.display-b {
  display: block;
}
.flex-column {
  flex-direction: column;
}
.jc-center {
  justify-content: center;
}
.jc-left {
  justify-content: flex-start;
}
